<div>
  <div>
    <% if !@has_data %>
      <h2>No call data, please run rake create_call_data</h2>
    <% end %>
  </div>
  <%= render partial: "/contents/state_view", locals: { status: @status} %>
  <div style="margin-top: 20px">
    <span>
      <% if @status != "call_cancelled" %>
        <%= button_to "Next Status", '/change_status' , method: :put %>
      <% end %>
    </span>
    <span>
      <% if @status != "init" and @status != "call_cancelled" %>
        <%= button_to "Cancel Call", '/cancel_call' , method: :put, style: "background-color: red; color: white" %>
      <% end %>
    </span>
    <span><%= button_to "Initialize Call", '/initialize_call' , method: :put %></span>
  </div>
</div>